*, *:before, *:after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    color: #2399BA;
    text-decoration: none;
}

a:hover,
a:active {
    color: #1593AF;
}

::selection {
    background: #6FC5D9;
}
::-moz-selection {
    background: #6FC5D9;
}

.no-select {
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vspace {
    height: 10vh;
}


/* NAVBAR */

#navbar {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 1;
    opacity: 0.8;
    box-shadow: 0 0 8px #444;
    font-size: 25px;
}
#navbar ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
#navbar li {
    margin: 0;
    display: inline-block;
    padding: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#navbar li:hover {
    background-color: #dedede;
}

/* PAGE */
#page {
    margin-bottom: -60px;
    min-height: 100vh;
}
#page:after {
    height: 60px;
    content: "";
    display: block;
}
.pane {
    font-size: 150%;
}

.pane-content {
    padding: 0 10px;
    margin: auto;
    text-align: center;
}
.row {
    margin: 20px 0;
}
.col {
    display: inline-block;
    vertical-align: middle;
}

/* PANE 1 */

#pane-1 {
    min-height: 600px;
    height: 100vh;
    max-height: 600px;
    background-image: url('bg.png');
}

#pane-1 #page-title {
    font-size: 500%;
    font-family: 'Josefin Slab', sans-serif;
}

#pane-1 .blurb {
    font-weight: 300;
}

/* PANE 2 */
#pane-2 .image {
    width: 90%;
    max-width: 700px;
}
#pane-2 .blurb {
    font-size: 75%;
}

/* FOOTER */
#footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-size: 75%;
    color: #ccc;
    height: 60px;
}
#footer a,
#footer a:visited {
    color: #ccc;
}
#footer a:hover,
#footer a:active {
    color: #aaa;
}

/* MEDIA */
@media (min-width: 900px) {
    .l4 {
        width: 31.33333%;
    }
    .l5 {
        width: 39.66666%;
    }
    .l6 {
        width: 48%;
    }
    .l7 {
        width: 56.33333%;
    }
    .l8 {
        width: 64.66666%;
    }
}
@media (max-width: 900px) and (min-width: 600px) {
    .m6 {
        width: 48%;
    }
}
@media (max-width: 600px) {
    #navbar {
        height: 40px;
        font-size: 18px;
    }
    #page {
        width: 100%;
    }
    .pane {
        font-size: 125%;
    }
    #pane-1 #page-title {
        font-size: 300%;
    }
    .col {
        display: block;
        width: 100%;
    }
}
